

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background: #f4f4f4;
  text-align: center;
}


.navbar {
  width: 100%;
  background: #222;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.menu li a:hover {
  color: #ff9800;
}


.banner {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg') no-repeat center/cover;
  color: white;
  text-shadow: 2px 2px 10px black;
}

.banner-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.banner-text p {
  font-size: 18px;
}

.section-title {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #ff9800;
}


.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  padding: 10px 20px;
}

.card {
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.card img {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.card h3 {
  margin-bottom: 8px;
  color: #333;
}

.card p {
  color: #555;
}

.card:hover {
  transform: scale(1.08);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


footer {
  margin-top: 50px;
  padding: 20px;
  background: #222;
  color: white;
  font-size: 16px;
}
