*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    background-color: rgb(219, 223, 142);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.myform{
    background-color:lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 410px;
    gap: 50px;
}






